.card {
  display: grid;
  grid-template-columns: 40% 60%;
  width: clamp(300px, 100vw, 730px);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0 $grayBlue;

  @media screen and (max-width: 600px) {
    grid-template-columns: none;
    grid-template-rows: 2fr 3fr;
    min-height: 500px;
  }

  &_img {
    background: url(../img/drawers.jpg) center/cover;
  }

  &_explain {
    @include displayFlexSet(column, space-between, null, 20px);
    padding: 0;
    background-color: #ffffff;

    &_title {
      padding: 35px 30px 0;
      @include fontSet(1.6rem, $fontBold, $darkGrayBlue);
    }
    &_content {
      padding: 0 30px 0;
      @include fontSet(1rem, $fontMedium, $desatDarkBlue);
    }
  }

  &_credits {
    padding: 10px 30px 20px;
    @include displayFlexSet(row, space-between, center, null);
    position: relative;
    height: 70px;

    &.active {
      background-color: $desatDarkBlue;
    }

    &_leftPart {
      @include displayFlexSet(row, space-between, center, 10px);

      .profileImg {
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
      .profileId {
        @include displayFlexSet(column, space-between, null, null);

        .name {
          @include fontSet(1rem, $fontBold, $darkGrayBlue);
        }
        .date {
          @include fontSet(1rem, $fontMedium, $grayBlue);
        }
      }
    }

    &_rightPart {
      @include displayFlexSet(null, center, center, null);
      height: 32px;
      width: 32px;
      border-radius: 50%;
      background-color: $lightGrayBlue;
      transition: 0.2s ease;

      &:hover {
        transform: scale(1.2);
      }

      #shareIcon {
        cursor: pointer;
        width: 15px;
      }
    }

    .shareBar {
      @include displayFlexSet(row, flex-start, center, 16px);
      display: none;
      width: 100%;

      &_share {
        @include fontSet(1rem, $fontMedium, $grayBlue);
        letter-spacing: 4px;
      }
      img {
        height: 20px;
      }
    }
  }
}
